<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crs.dao.ActvReviewMapper">
    <!--多join方式不建议使用-->
<select id="reviewList" resultType="com.crs.vo.ReviewVo">
    select ar.id,su.username,actv.actv_title,sc.cmty_name,sc.id as cmtyId,actv.id as actvId,ar.user_id as userId from cmty_actv_user ar left join sys_user su on ar.user_id = su.id left join actv on ar.actv_id = actv.id left join
    sys_cmty sc on actv.cmty_id = sc.id
<where>
  ar.is_deleted = 0 and ar.review_id = #{userId}
</where>
</select>

</mapper>